altgraph==0.10.2
asn1crypto==0.24.0
bdist-mpkg==0.5.0
certifi==2019.11.28
cffi==1.12.2
chardet==3.0.4
click==7.1.1
cryptography==2.6.1
ecdsa==0.13
enum34==1.1.6
esptool==2.7
Flask==1.1.1
future==0.17.1
idna==2.9
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.11.1
macholib==1.5.1
MarkupSafe==1.1.1
modulegraph==0.10.4
numpy==1.8.0
py2app==0.7.3
pyaes==1.6.1
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.0.1
pyserial==3.4
python-dateutil==1.5
pytz==2013.7
requests==2.23.0
scipy==0.13.
six==1.12.0
urllib3==1.25.8
vk-api==11.7.0
Werkzeug==1.0.0
xattr==0.6.4
